Lab4/PROGRAM/Lab2CLient/Connected Services/PartsServiceReference1/PartsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="PartsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61968/PartsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61968/PartsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61968/PartsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contract.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPartsService_read_InputMessage">
    <wsdl:part name="parameters" element="tns:read" />
  </wsdl:message>
  <wsdl:message name="IPartsService_read_OutputMessage">
    <wsdl:part name="parameters" element="tns:readResponse" />
  </wsdl:message>
  <wsdl:message name="IPartsService_readById_InputMessage">
    <wsdl:part name="parameters" element="tns:readById" />
  </wsdl:message>
  <wsdl:message name="IPartsService_readById_OutputMessage">
    <wsdl:part name="parameters" element="tns:readByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPartsService_create_InputMessage">
    <wsdl:part name="parameters" element="tns:create" />
  </wsdl:message>
  <wsdl:message name="IPartsService_create_OutputMessage">
    <wsdl:part name="parameters" element="tns:createResponse" />
  </wsdl:message>
  <wsdl:message name="IPartsService_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IPartsService_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IPartsService_deleteById_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteById" />
  </wsdl:message>
  <wsdl:message name="IPartsService_deleteById_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IPartsService">
    <wsdl:operation name="read">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlOf_PartDTO/read" message="tns:IPartsService_read_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlOf_PartDTO/readResponse" message="tns:IPartsService_read_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="readById">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlOf_PartDTO/readById" message="tns:IPartsService_readById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlOf_PartDTO/readByIdResponse" message="tns:IPartsService_readById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlOf_PartDTO/create" message="tns:IPartsService_create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlOf_PartDTO/createResponse" message="tns:IPartsService_create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlOf_PartDTO/update" message="tns:IPartsService_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlOf_PartDTO/updateResponse" message="tns:IPartsService_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <wsdl:input wsaw:Action="http://tempuri.org/IControlOf_PartDTO/deleteById" message="tns:IPartsService_deleteById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IControlOf_PartDTO/deleteByIdResponse" message="tns:IPartsService_deleteById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPartsService" type="tns:IPartsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="read">
      <soap:operation soapAction="http://tempuri.org/IControlOf_PartDTO/read" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="readById">
      <soap:operation soapAction="http://tempuri.org/IControlOf_PartDTO/readById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="http://tempuri.org/IControlOf_PartDTO/create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IControlOf_PartDTO/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteById">
      <soap:operation soapAction="http://tempuri.org/IControlOf_PartDTO/deleteById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PartsService">
    <wsdl:port name="BasicHttpBinding_IPartsService" binding="tns:BasicHttpBinding_IPartsService">
      <soap:address location="http://localhost:61968/PartsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>