Lab4/PROGRAM/Lab2CLient/Connected Services/PartsServiceReference1/PartsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contract.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartDTO" nillable="true" type="tns:PartDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartDTO" nillable="true" type="tns:ArrayOfPartDTO" />
  <xs:complexType name="PartDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartNo" type="xs:int" />
      <xs:element minOccurs="0" name="SerialNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorNo" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartDTO" nillable="true" type="tns:PartDTO" />
</xs:schema>