Lab4/PROGRAM/Lab2CLient/Connected Services/ItemServiceReference/ItemService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Contract.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contract.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemDTO" nillable="true" type="tns:ItemDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemDTO" nillable="true" type="tns:ArrayOfItemDTO" />
  <xs:complexType name="ItemDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="ItemNo" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNo" type="xs:int" />
      <xs:element minOccurs="0" name="PartNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDTO" nillable="true" type="tns:ItemDTO" />
</xs:schema>